<div class="todo">
  <button class="icon-button" hx-target="closest div" hx-swap="outerHTML swap:1s" 
      hx-delete={"/todos/#{@todo.id}"} hx-confirm="Are you sure you want to delete?">❌</button>
  <button class="icon-button" hx-target="closest div" hx-swap="outerHTML" hx-get={"/todos/#{@todo.id}/edit"}>📝</button>
  <span class="note"><%= @todo.note %></span>
</div>
