<div class="todo">
  <input type="hidden" name="id" value={"#{@todo.id}"}/>
  <span class="note"><%= @todo.id %> - <%= @todo.note %></span>
  <button class="icon-button" disabled>❌</button>
  <button class="icon-button" disabled>📝</button>
  <form hx-patch={"/todos/#{@todo.id}"} hx-target="closest div" hx-swap="outerHTML">
    <input type="text" name="note" value={"#{@todo.note}"} >
    <button type="submit">Save</button>
    <button hx-get={"/todos/#{@todo.id}"}>Cancel</button>
  </form>

</div>
