<section class="phx-hero">
  <h1>List todos</h1>
</section>

<section class="todos-contain">
  <%= if length(@todos) > 1 do %>
    <div class="flex space-between">
      <input type="text" name="note" class="inline-input"
        placeholder="🔍  Type To Search"
        hx-get="/todos"
        hx-trigger="keyup changed delay:500ms, search"
        hx-target="#todos"
        hx-replace="innerHTML" >
      <div hx-include="#checked-todos" hx-target="#todos" class="bulk-completed"> 
        <a hx-put="/completed">Mark completed</a>
      </div>
    </div>
  <% end %>
  <div id="todos">
    <form id="checked-todos">
      <%= for todo <- @todos do %>
        <%= render "_todo.html", todo: todo %>
      <% end %>
    </form>
    <form method="post" action="/todos" class="add-todo">
      <input type="text" minlength="3" name="note" autofocus placeholder="➕  Add todo ..." />
    </form>
  </div>
</section>

<style>
  @media only screen and (min-width: 420px) {
    .todos-contain {
      margin-left: 2rem;
    }
  }

  .todo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #ededed;
  }

  .todo:first-child {
    margin-top: 1rem;
  }

  .todo .note {
    font-size: 18px;
    margin-left: 4px;
  }

  .add-todo {
    margin: 0 .5rem;
  }
  .add-todo input {
    border: none;
    border-bottom: solid 2px #d1d1d1;
    margin: 0;
    padding: 1.5rem;
    font-size: 16px;
    height: 5rem;
  }

  .add-todo input:focus {
    border-color: #a1a1a1;
  }

  .todos-contain .inline-input {
    width: max(60%, 220px);
  }

  .todos-contain label {
    display: inline;
    margin-right: 8px;
    min-width: 4rem;
  }

  .update-todo {
    margin-bottom: 0;
  }

  .htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .bulk-completed {
    margin-top: 4px;
  }

  .bulk-completed a {
    text-decoration: underline;
    cursor: pointer;
  }

  #checked-todos {
    margin-bottom: 0;
  }
</style>
