<form id="checked-todos">
  <%= for todo <- @todos do %>
    <%= render "_todo.html", todo: todo %>
  <% end %>
</form>
<form method="post" action="/todos" class="add-todo">
  <input type="text" minlength="3" name="note" placeholder="➕  Add todo ..." />
</form>